PORT=3000
DB_HOST=mysql-fde0d9c-bdecn1.i.aivencloud.com
DB_PORT=23887
DB_USER=avnadmin
DB_PASS=tu_contraseña_aqui
DB_NAME=defaultdb
SESSION_SECRET=ceramica_secret_dev_2024
NODE_ENV=development
JWT_SECRET=ceramica_jwt_token_secret_2024
