PORT=3000
DB_HOST=mysql-fde0d9c-bdecn1.i.aivencloud.com
DB_PORT=23887
DB_USER=avnadmin
DB_PASS=tu_contraseña_aqui
DB_NAME=defaultdb
SESSION_SECRET=ceramica_secret_dev_2024
NODE_ENV=development
JWT_SECRET=ceramica_jwt_token_secret_2024

# Configuración de Servidor de Correos (SMTP)
SMTP_HOST=smtp.ejemplo.com
SMTP_PORT=587
SMTP_USER=tu_correo@ejemplo.com
SMTP_PASS=tu_contraseña_smtp
SMTP_FROM="Sistema ECN N°1" <tu_correo@ejemplo.com>
